{% extends 'base.html' %}
{% load static %}
{% block header %}
<script src="{% url 'js-catlog' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
{% endblock %}

{% block content %}
    <h1>{{task.title}}</h1>
    <h2>{{month}}/{{day}}/{{year}}</h1>
    {{error}}
    <form action="{% url 'task_detail' month day year task.id %}" method="POST">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <button>
            Update
        </button>
    </form>

    <!--<form action="{% url 'complete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button>
            Complete
        </button>
    </form>-->

    <form action="{% url 'delete_task' month day year task.id %}" method="POST">
        {% csrf_token %}
        <button>
            Delete
        </button>
    </form>
{% endblock %}